* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

li {
  font-size: 1rem;
}

body {
  text-align: center;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

ul li{
  list-style-type: none;
  display: inline-block;
}