.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    width: 100vw;
}

.leftContainer {
    width: 40vw;
    height: 40vh;
    max-height: 40vh;
    padding: 20px;
}
